$formSelect: '.formSelect';

#{$formSelect} {
    position: relative;
    display: block;

    &__wrapper {
        position: relative;
        display: block;
    }

    &__header {
        position: relative;
        display: block;
    }

    &__label {
        position: relative;
        display: block;
        margin-bottom: .2em;
        font-size: $font-size-small;
        line-height: $line-height-prelittle;
        color: $color-black;
    }

    &__content {
        position: relative;
        display: block;
        width: 100%;
        height: 40px;
        border: 1px solid $color-iron;
        background-color: $color-white;
        overflow: hidden;

        &:before,
        &:after {
            content: '';
            position: absolute;
        }

        &:before {
            width: 30px;
            height: 30px;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            background-color: $color-white;
            z-index: 2;
        }


        &:after {
            width: 0;
            height: 0;
            top: 50%;
            transform: translateY(-50%);
            right: 9px;
            border-style: solid;
            border-width: 8px 6px 0 6px;
            border-color: rgba($color-black, .8) transparent transparent transparent;
            z-index: 3;
        }
    }

    &__select {
        position: relative;
        display: block;
        width: 130%;
        height: 38px;
        padding-left: 15px;
        padding-right: 15px;
        font-family: $font-family-default;
        font-size: $font-size-predefault;
        line-height: 38px;
        appearance: none;
        border: none;
        outline: none;
        color: rgba($color-black, .8);
        border-radius: 0;
        background-color: transparent;
    }
}
