include ../adminSchedule/adminSchedule
include ../adminLectures/adminLectures
include ../adminSchools/adminSchools
include ../adminPlaces/adminPlaces
include ../adminAuthors/adminAuthors

mixin admin
    +b('section').admin
        +e('div').wrapper
            +e('div').header
                +e('div').title!= "Библиотека"

            +e('div').content
                +e('div').col(class="admin__col_aside")
                    +e('div').aside
                        +e('ul').aside__list
                            +e('li').aside__item
                                +e('a').aside__link(href="#schedule", class="admin__aside__link_state_active")!= "Расписание"

                            +e('li').aside__item
                                +e('a').aside__link(href="#lectures")!= "Лекции"

                            +e('li').aside__item
                                +e('a').aside__link(href="#schools")!= "Школы"

                            +e('li').aside__item
                                +e('a').aside__link(href="#places")!= "Аудитории"

                            +e('li').aside__item
                                +e('a').aside__link(href="#authors")!= "Лекторы"

                +e('div').col(class="admin__col_main")
                    +e('div').main
                        +e('div').box(id="schedule", class="admin__box_state_active")
                            +adminSchedule

                        +e('div').box(id="lectures")
                            +adminLectures

                        +e('div').box(id="schools")
                            +adminSchools

                        +e('div').box(id="places")
                            +adminPlaces

                        +e('div').box(id="authors")
                            +adminAuthors
