include ../formInput/formInput
include ../formSelect/formSelect

mixin adminSchedule
    +b('div').adminSchedule
        +e('div').wrapper
            +e('div').header
                +e('div').filter
                    +e('div').filter__item
                        +formInput({
                            type: 'date',
                            label: 'Начало',
                            name: 'from',
                            id: 'from',
                            min: '2016-01-01',
                            max: '2016-12-31',
                            value: '2016-10-01'
                        })

                    +e('div').filter__item
                        +formInput({
                            type: 'date',
                            label: 'Конец',
                            name: 'to',
                            id: 'to',
                            min: '2016-01-01',
                            max: '2016-12-31',
                            value: '2016-12-31'
                        })

                    +e('div').filter__item
                        +formSelect({
                            label: 'Школа',
                            name: 'school',
                            id: 'school',
                            list: [
                                {
                                    text: '',
                                    value: '',
                                    isActive: false
                                },
                                {
                                    text: 'value 1',
                                    value: '1',
                                    isActive: true
                                },
                                {
                                    text: 'value 2',
                                    value: '2',
                                    isActive: false
                                },
                                {
                                    text: 'value 3',
                                    value: '3',
                                    isActive: false
                                }
                            ]
                        })

            +e('div').content


