mixin adminSchedule
    +b('div').adminSchedule
        +e('div').wrapper
            +e('div').header
                +e('div').filter
                    +e('div').filter__item
                        +e('input').filter__input(type="date", min="2016-01-01", max="2016-12-31", value="2016-10-01")

                    +e('div').filter__item
                        +e('input').filter__input(type="date", min="2016-01-01", max="2016-12-31", value="2016-12-31")

                    +e('div').filter__item
                        +e('input').filter__input(type="text")

            +e('div').content

