$adminSchedule: '.adminSchedule';

#{$adminSchedule} {
    position: relative;
    display: block;

    &__wrapper {
        position: relative;
        display: block;
    }

    &__header {
        position: relative;
        display: block;
        margin-bottom: 20px;
    }

    &__filter {
        position: relative;
        display: block;
        @include clearfix;
    }

    &__filter__item {
        position: relative;
        display: block;
        float: left;
        width: 33.333333333%;
    }

    &__content {
        position: relative;
        display: block;
    }

    &__list {
        @include clearfix;
    }

    &__list,
    &__item {
        @include list-reset;
    }

    &__item {
        position: relative;
        display: block;
        padding: 20px 0;
        border-bottom: 1px solid $color-iron;

        @include f-first(1) {
            border-top: 1px solid $color-iron;
        }

        @include f-last(1) {
            padding-bottom: 0;
            border-bottom: none;
        }
    }

    &__box {
        position: relative;
        display: block;
    }

    &__box__header {
        position: relative;
        display: block;
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px dotted rgba($color-iron, 1);
    }

    &__box__content {
        position: relative;
        display: block;
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px dotted rgba($color-iron, 1);
    }

    &__box__footer {
        position: relative;
        display: block;
    }

    &__box__name {
        position: relative;
        display: block;
        margin-bottom: .2em;
        font-size: $font-size-mediumplus;
        line-height: $line-height-presmall;
    }

    &__box__school {
        position: relative;
        display: block;
        margin-bottom: .4em;
        font-size: $font-size-predefault;
        line-height: $line-height-presmall;
    }

    &__box__author {
        position: relative;
        display: block;
    }

    &__box__date {
        position: relative;
        display: block;
    }

    &__box__time {
        position: relative;
        display: block;
    }

    &__box__place {
        position: relative;
        display: block;
    }

    &__box__status {
        position: relative;
        display: block;
    }

    &__box__resources {
        position: relative;
        display: block;

        a {
            text-decoration: underline;
        }
    }

    &__footer {
        position: relative;
        display: none;
    }
}
