include ../formInput/formInput
include ../formSelect/formSelect

mixin adminSchedule
    +b('div').adminSchedule
        +e('div').wrapper
            +e('div').header
                +e('div').filter
                    +e('div').filter__item
                        +formInput({
                            type: 'date',
                            label: 'Начало',
                            name: 'from',
                            id: 'from',
                            min: '2016-01-01',
                            max: '2016-12-31',
                            value: '2016-10-01'
                        })

                    +e('div').filter__item
                        +formInput({
                            type: 'date',
                            label: 'Конец',
                            name: 'to',
                            id: 'to',
                            min: '2016-01-01',
                            max: '2016-12-31',
                            value: '2016-12-31'
                        })

                    +e('div').filter__item
                        +formSelect({
                            label: 'Аудитория',
                            name: 'place',
                            id: 'place',
                            list: []
                        })

            +e('div').content


            +e('div').footer
                script(type="x-template", id="adminSchedule-template").
                    <div class="adminSchedule__box">
                        <div class="adminSchedule__box__header">
                            <div class="adminSchedule__box__name"></div>

                            <div class="adminSchedule__box__school">Школа: </div>

                            <div class="adminSchedule__box__author">Лектор: </div>
                        </div>

                        <div class="adminSchedule__box__content">
                            <div class="adminSchedule__box__date">Дата: </div>

                            <div class="adminSchedule__box__time">Время: </div>

                            <div class="adminSchedule__box__place">Аудитория: </div>
                        </div>

                        <div class="adminSchedule__box__footer">
                            <div class="adminSchedule__box__status">Статус: </div>

                            <div class="adminSchedule__box__resources"><a href="">Ссылка на материалы</a></div>
                        </div>
                    </div>
