$adminLectures: '.adminLectures';

#{$adminLectures} {
    position: relative;
    display: block;

    &__wrapper {
        position: relative;
        display: block;
    }

    &__header {
        position: relative;
        display: block;
        margin-bottom: 20px;
    }

    &__title {
        position: relative;
        display: block;
        margin-bottom: .6em;
        font-weight: 600;
        font-size: $font-size-medium;
        line-height: $line-height-small;
    }

    &__filter {
        position: relative;
        display: block;
        @include clearfix;
    }

    &__filter__item {
        position: relative;
        display: block;
    }

    &__content {
        position: relative;
        display: block;
    }

    &__box {
        position: relative;
        display: block;
    }

    &__box__content {
        position: relative;
        display: block;
        padding-top: 15px;
        padding-bottom: 15px;
        border-top: 1px dotted $color-iron;
        @include clearfix;
    }

    &__box__col {
        position: relative;
        display: block;
        margin-bottom: 15px;
    }

    &__box__footer {
        position: relative;
        display: block;
        font-size: 0;
        text-align: center;
    }

    &__box__button {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        min-width: 100px;
        margin: 0 15px;
        padding: 10px 15px;
        font-size: $font-size-small;
        line-height: $line-height-prelittle;
        color: $color-white;
        text-align: center;
        background-color: $color-iron;
        border-radius: 3px;
        border-bottom: 1px solid transparent;
        @include transition(background-color);

        &:hover {
            color: $color-white;
        }

        &#{$adminLectures}__box__button_type_edit {
            border-color: darken($color-dodger-blue, 10%);
            background-color: $color-dodger-blue;

            &:hover {
                background-color: lighten($color-dodger-blue, 10%);
            }
        }

        &#{$adminLectures}__box__button_type_remove {
            border-color: darken($color-pomegranate, 10%);
            background-color: $color-pomegranate;

            &:hover {
                background-color: lighten($color-pomegranate, 10%);
            }
        }

        &#{$adminLectures}__box__button_type_add {
            border-color: darken($color-shamrock, 10%);
            background-color: $color-shamrock;

            &:hover {
                background-color: lighten($color-shamrock, 10%);
            }
        }
    }

    &__footer {
        position: relative;
        display: none;
    }
}
