$scheduleItem: '.scheduleItem';

#{$scheduleItem} {
    position: relative;
    display: block;
    border: 1px solid $color-iron;
    background-color: $color-white;
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 rgba($color-black, 0.1);

    &__wrapper {
        position: relative;
        display: block;
    }

    &__content {
        position: relative;
        display: block;
        @include clearfix;
    }

    &__col {
        position: relative;
        display: block;
        float: left;
        padding: 30px 35px;

        &#{$scheduleItem}__col_1 {
            width: 200px;
        }

        &#{$scheduleItem}__col_2 {
            width: calc(100% - 200px);

            &:before {
                content: '';
                position: absolute;
                display: block;
                width: 1px;
                height: calc(100% - 40px);
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                background: rgba($color-iron, .5);
            }
        }
    }

    &__title {
        position: relative;
        display: block;
        margin-bottom: .2em;
        font-size: $font-size-mediumplus;
        line-height: $line-height-presmall;
        color: $color-cobalt;
    }

    &__school {
        position: relative;
        display: block;
        margin-bottom: .4em;
        font-size: $font-size-smaller;
        line-height: $line-height-prelittle;
        @include clearfix;

        span {
            position: relative;
            float: left;
            margin-right: 10px;
            margin-bottom: 10px;
            padding: 4px 14px;
            color: $color-white;
            border-radius: 20px;
        }
    }

    &__school_1 {
        background-color: $color-red;
    }

    &__school_2 {
        background-color: $color-bright-sun;
    }

    &__school_3 {
        background-color: $color-eucalyptus;
    }

    &__author,
    &__place {
        position: relative;
        display: block;
        margin-bottom: .3em;
        font-size: $font-size-predefault;
        line-height: $line-height-presmall;
        color: $color-oxford-blue;

        @include f-last(1) {
            margin-bottom: 0;
        }

        span {
            opacity: .5;
        }
    }
}
