extends ../jade/layout

block head
    - var pageDescription="Библиотека";
    - var pageKeywords="Библиотека";
    - var pageTitle="Библиотека";

block content
    include ../blocks/admin/admin

    +admin
